<div>
  <%= form_with model: @user do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
     <% if @user == current_user.id %>
  <p><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
  <% end %>
  </div>

<%= link_to "Edit", edit_user_path(@user.id) %>
<%= link_to "destroy", user_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

