<p id="notice"></p>
<div class="container">
  <div class= "row">
    <div class="col-md-3">
        <%= render 'users/list', user: @user %>
        <%= render 'books/list', book: @book_new %>
    </div>
        <div class="col-md-8 offset-md-1">
         <h4>Books</h4>
          <table class="table table-hover table-inverse">
                <thread>
                 <tr>
                   <th></th>
                   <th>Title</th>
                   <th>Opinion</th>
                   <th colspan="3"></th>
                  </tr>
                 </thread>

              <% @user.books.each do |book| %>
              <tbody>
                   <tr>
                     <td>
                       <%= link_to user_path(book.user.id) do %>
                           </td>
                       <% end %>
                     <td>
                         <%= link_to book_path(book.id) do %>
                          <%= book.title %>
                         <% end %>
                     </td>
                     <td><%= book.body %></td>
                   </tr>
             </tbody>
              <% end %>
            </table>

        </div>
 </div>
</div>


