<div class="container">
<div class="row">
 <% if @book.errors.any? %>
  <%= @book.errors.count %>
   error prohibited this book from being saved:<br>
  <%= @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
 <% end %>
<div class="col-md-3">
 <%= render 'users/user_show', user: @user %>
 <%= render 'books/book_new', book: @book %>
</div>

<div class="col-md-8 offset-md-1 pt-3">
 
 </div>
</div>
</div>