

<p id="notice"></p>
<div class="container">
<div class= "row">
<div class="col-md-3">

 <%= render 'users/list', user: @user %>
 <%= render 'books/list', book: @book_new %>
</div>


<div class ="col-md-8 offset-md-1">
<table class="table-striped">
 <p id="notice"></p>
 <h2>Book detail</h2>
 <table class="table">
  <tbody>
   <tr>
    <td>
    <%= image_tag @user.get_profile_image(100,100) %>
    <%= link_to user_path(@book.user) do%>
    <p><%= @book.user.name %></p>
    <%end%>
    </td>

    <td>
    <%= link_to book_path(@book) do %>
    <%= @book.title %>
    <%end%>
    </td>

    <td>
     <%= @book.body %>
    </td>
     <% if @book.user == current_user %>

     <td>
     <%= link_to "Edit",edit_book_path(@book.id),class:"btn btn-sm btn-success" %>
     </td>

     <td>
     <%= link_to "Destroy",book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"},class:"btn btn-sm btn-danger" %>
     </td>
     <% end %>
    </tr>
    </tbody>
    </table>
    </div>
 </table>
 </div>
 </div>
 </div>

